/*EXEMPLO SELETOR TAG/TIPO*/ 
div {
    background-color: black;
    color: white;
    width: 40px;
}

/*EXEMPLO SELETOR ID*/ 
#identidade {
background: lightblue;
}

/*EXEMPLO SELETOR CLASS*/ 



/*EXEMPLO SELETOR UNIVERSAL*/ 



/*EXEMPLO SELETOR DE ATRIBUTO*/ 


